[Unit]
Description=NoCAN to Influx Daemon
ConditionPathExists=/usr/local/bin/nocan2influx
After=network.target
 
[Service]
Type=simple
User=nocand
Group=nocand
LimitNOFILE=1024

Restart=on-failure
RestartSec=10
startLimitIntervalSec=60

WorkingDirectory=/etc/nocand
#ExecStart=/usr/local/bin/nocan2influx server -config /etc/nocand/config -log-file /var/log/nocand/nocand.log -log-level WARNING -log-terminal none -power-monitoring-interval 30
ExecStart=/usr/local/bin/nocan2influx

# make sure log directory exists and owned by syslog
PermissionsStartOnly=true
ExecStartPre=/bin/mkdir -p /var/log/nocand
ExecStartPre=/bin/chown nocand:nocand /var/log/nocand
ExecStartPre=/bin/chmod 755 /var/log/nocand
#StandardOutput=syslog
#StandardError=syslog
#SyslogIdentifier=nocan2influx
 
[Install]
WantedBy=multi-user.target

